html {
    box-sizing: border-box;
}
  
*,
*::before,
*::after {
    box-sizing: inherit;
}

:root {
    --whiteColor: #ffffff;
    --blueColor: #2A6CEA;
    --lightBlue: #397DFF;
    --lightGray: #ECEFF2;
    --textColor: #191C1F;
    --darkGray: #5E646A;
    --extraLightGray: #F6F8FA;
}

a {
    color: inherit;
    text-decoration: none;
}

ul {
    margin: 0;
    padding: 0;
    list-style: none
}

img {
    max-width: 100%;
}

html, body {
    min-width: 320px;
    font-family: "GraphikLCG", sans-serif;
    background-color: var(--whiteColor);
    overflow-x: hidden;
    scroll-behavior: smooth;
}

h1, h2, h3, h4, h5, h6, p {
    margin: 0;
}

.container {
    position: relative;
    max-width: 1248px;
    padding: 0 16px; 
    margin: 0 auto;
}

.top {
    position: relative;
    background-image: 
        linear-gradient(rgba(42, 108, 234, 0.800000011920929), 
                        rgba(42, 108, 234, 0.800000011920929)), 
        url('/assets/images/skyscraper.png');
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}

.header__content {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 26px 0;
}

.header__nav-mobile {
    display: none;
}

.header__mobile {
    display: flex;
    flex-direction: row;
    gap: 9px;
}

.header__mobile-container {
    position: relative;
    width: 24px;
    height: 24px;
    background-color: var(--lightGray);
    border-radius: 100%;
}

.header__mobile-button {
    position: absolute;
    width: 24px;
    height: 24px;
    cursor: pointer;
    border: none;
    transform: translateX(-50%);
    background-color: var(--blueColor);
    border-radius: 100%;
    transition: transform .3s ease-in-out;
}

.header__mobile-close {
    position: relative;
    width: 22px;
    height: 22px;
    padding: 0;
    cursor: pointer;
    border: none;
    background-color: transparent;
}

.header__mobile-close_line {
    position: absolute;
    width: 100%;
    height: 2px;
    left: 0;
    background-color: var(--textColor);
    transform: rotate(45deg);
}

.header__mobile-close_line::after {
    content: '';
    position: absolute;
    width: 100%;
    height: 2px;
    left: 0;
    background-color: var(--textColor);
    transform: rotate(90deg);
}

.header__mobile-text {
    font-size: 20px;
    font-weight: 600;
    line-height: 24px;
    color: var(--textColor);
}

.header__mode {
    display: flex;
    flex-direction: row;
    gap: 9px;
}

.header__mode-container {
    position: relative;
    width: 24px;
    height: 24px;
    background-color: var(--lightGray);
    border-radius: 100%;
}

.header__mode-button {
    position: absolute;
    width: 24px;
    height: 24px;
    cursor: pointer;
    border: none;
    transform: translateX(-50%);
    background-color: var(--blueColor);
    border-radius: 100%;
    transition: transform .3s ease-in-out;
}

.header__burger {
    cursor: pointer;
    position: relative;
    width: 22px;
    height: 12px;
    display: none;
    border: none;
    padding: 0;
    background-color: transparent; 
}

.header__burger-line {
    position: absolute;
    left: 0;
    top: 40%;
    width: 100%;
    height: 2px;
    background-color: var(--whiteColor);
    transition: opacity 0.3s ease-in-out;
}

.header__burger::after {
    content: '';
    position: absolute;
    left: 0;
    top: 12px;
    width: 100%;
    height: 2px;
    background-color: var(--whiteColor);
    transition: transform 0.3s ease-in-out,top 0.3s ease-in-out, bottom 0.3s ease-in-out;
}

.header__burger::before {
    top: 0;
}

.header__burger::after {
    bottom: 0;  
}
  
.burger--active::after {
    bottom: auto;
    top: 40%;
    transform: rotate(90deg);
}

.active {
    transform: translateX(0);
}

.header__mode-text {
    font-size: 20px;
    font-weight: 600;
    line-height: 24px;
    color: var(--whiteColor);
}

.header__items {
    display: flex;
    flex-direction: row;
    gap: 24px;
}

.header__item-link {
    font-size: 16px;
    font-weight: 400;
    line-height: 28px;
    color: var(--whiteColor);
}

.hero__content {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 233px;
    padding-bottom: 313px;
}

.hero__description {
    margin-bottom: 92px;
}

.hero__title {
    margin-bottom: 18px;
    text-align: center;
    font-size: 52px;
    font-weight: 600;
    line-height: 64px;
    color: var(--whiteColor);
}

.hero__text {
    text-align: center;
    font-size: 18px;
    font-weight: 400;
    line-height: 32px;
    color: var(--whiteColor);
}

.hero__button {
    cursor: pointer;
    padding: 20px 40px;
    font-size: 20px;
    font-weight: 600;
    line-height: 24px;
    border: none;
    outline: none;
    border-radius: 4px;
    background-color: var(--lightGray);
    color: var(--textColor);
    transition: color .3s ease-in-out, background-color .3s ease-in-out;
}

.hero__button:focus-visible {
    background-color: var(--lightBlue);
    color: var(--whiteColor);
}

.hero__button:hover {
    background-color: var(--lightBlue);
    color: var(--whiteColor);
}

.work__content {
    padding: 80px 0;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.work__title { 
    margin-bottom: 61px;
    font-size: 40px;
    font-weight: 600;
    line-height: 56px;
    color: var(--textColor);
}

.work__steps {
    display: flex;
    flex-direction: row;
    gap: 32px;
}

.work__step {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

.work__step svg {
    margin-bottom: 16px;
}

.work__step-title {
    margin-bottom: 4px;
    font-size: 14px;
    font-weight: 600;
    line-height: 24px;
    color: var(--textColor);
}

.work__step-text {
    max-width: 85%;
    font-size: 14px;
    font-weight: 400;
    line-height: 24px;
    color: var(--darkGray);
}

.three__content {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.three__left {
    display: flex;
    flex-direction: column;
    justify-content: center;
    max-width: calc(50% - 16px);
}

.three__right {
    position: relative;
    max-width: calc(50% - 16px);
}

.image-man {
    position: absolute;
}

.three__left-title {
    margin-bottom: 18px;
    font-size: 32px;
    font-weight: 600;
    line-height: 40px;
    color: var(--textColor);
}

.three__left-text {
    font-size: 16px;
    font-weight: 400;
    line-height: 28px;
    color: var(--darkGray);
}

.three__left-text:not(:last-child) {
    margin-bottom: 20px;
}

.reviews {
    background-color: var(--extraLightGray);
}

.reviews__content {
    padding-top: 57px;
    padding-bottom: 45px;
}

.reviews__title {
    margin-bottom: 32px;
    text-align: center;
    font-size: 40px;
    font-weight: 600;
    line-height: 56px;
    color: var(--textColor);
}

.slick-list {
    overflow: hidden;
    padding-bottom: 50px;
}

.slick-track {
    display: flex;
    gap: 32px;
}

.reviews__items .slick-arrow {
    position: absolute;
    width: 32px;
    height: 32px;
    top: 45%;
    cursor: pointer;
    z-index: 10;
    font-size: 0;    
    border: none;
}

.slick-arrow svg{
    background-color: var(--blueColor);
}

.reviews__item {
    min-height: 316px;
    /* min-width: 341px !important; */
}

.reviews__items .slick-arrow.slick-prev {
    left: -10px;
    background: url('/assets/arrow-l.svg') 0 0 / 100% no-repeat;
}

.reviews__items .slick-arrow.slick-next {
    right: -10px;
    background: url('/assets/arrow-l.svg') 0 0 / 100% no-repeat;
    transform: rotate(180deg);
}

.reviews__items .slick-dots {
    display: flex;
    align-items: center;
    justify-content: center;
}

.reviews__items .slick-dots li {
    list-style: none;
    margin: 0 10px;
}

.reviews__items .slick-dots button {
    cursor: pointer;
    font-size: 0;
    width: 8px;
    height: 12px;
    background-color: #C2C8CD;
    border: none;
    border-radius: 50%;
}

.reviews__items .slick-dots li.slick-active button{
    background-color: var(--blueColor);
}

.reviews__card {
    display: flex;
    flex-direction: column;
    height: 100%;
    padding: 22px 22px 0 22px;
    border-radius: 8px;
    background-color: var(--whiteColor);
    box-shadow: 0px 15px 24px 0px rgba(0, 0, 0, 0.10);    
}

.card__user {
    display: flex;
    flex-direction: row;
    margin-bottom: 20px;
    gap: 16px;
}

.card__user img {
    height: 44px;
}

.card__user-info {
    display: flex;
    flex-direction: column;
}

.user-name {
    margin-bottom: 4px;
    font-size: 16px;
    font-weight: 600;
    line-height: 24px;
    color: var(--textColor);
}

.user-city {
    font-size: 12px;
    font-weight: 400;
    line-height: 16px;
    color: var(--darkGray);
}

.card__review-text {
    font-size: 14px;
    font-weight: 400;
    line-height: 24px;
    color: var(--textColor);
}

.answer__content {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 80px 0;
}

.answer__title {
    margin-bottom: 66px;
    font-size: 40px;
    font-weight: 600;
    line-height: 56px;
    color: var(--textColor);
}

.answer__item {
    margin-top: -1px;
    border-top: 1px solid transparent;
    border-bottom: 1px solid var(--lightGray);
    justify-content: space-between;
    transition: border 0.3s ease-in-out;
    align-items: center;
    cursor: pointer;
}

.answer__item.ac {
    border-left: none;
    border-right: none;
    background-color: transparent;
}

.answer__item.is-active .answer__trigger {  
    transform: rotate(45deg);
}

.answer__item:first-child {
    margin-top: 0px;
    border-top: 1px solid var(--lightgray);
}

.answer__top {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 24px 0;   
}

.answer__subtitle {
    font-size: 18px;
    font-weight: 600;
    line-height: 32px;
    transition: color .3s ease-in-out;
    color: var(--textColor);
}

.answer__icon {
    position: relative;
    display: block;
    border-radius: 100%;
    border: 2px solid var(--textColor);
    width: 24px;
    height: 24px;
    background-color: transparent;
    transition-property: transform;
    transition: .2s ease-in-out;
}

.answer__icon::after {
    content: "";
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    width: 65%;
    height: 2px;
    background-color: var(--textColor);
}

.answer__icon::before {
    content: "";
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    width: 2px;
    height: 65%;
    background-color: var(--textColor);
}

.answer__icon::after {
    transition: background-color .3s linear;
}
  
.answer__icon::before {
    transition: background-color .3s linear;
}

.answer__bottom-text {
    max-width: 80%;
    font-size: 18px;
    font-weight: 400;
    line-height: 32px;
    color: var(--darkGray);
}

.answer__item:focus-within {
    outline: none;
}

.answer__item:focus-within .answer__subtitle {
    color: var(--blueColor);
}

.answer__item:focus-within .answer__icon {
    border: 2px solid var(--blueColor);
}       

.answer__item:focus-within .answer__icon::after {
    background-color: var(--blueColor);
}
  
.answer__item:focus-within .answer__icon::before {
    background-color: var(--blueColor);
}

.answer__item:hover .answer__icon {
    border: 2px solid var(--blueColor);
}       

.answer__item:hover .answer__icon::after {
    background-color: var(--blueColor);
}
  
.answer__item:hover .answer__icon::before {
    background-color: var(--blueColor);
}

.answer__item:hover .answer__subtitle {
    color: var(--blueColor);
}

.info {
    background-color: var(--extraLightGray);
}

.info__content {
    padding: 68px 0;
}

.info__items {
    display: flex;
    flex-flow: row wrap;
    gap: 30px;
}

.info__item {
    display: flex;
    flex-direction: column;
    max-width: calc(50% - 16px);
}

.info__item-title {
    margin-bottom: 17px;
    font-size: 18px;
    font-weight: 600;
    line-height: 32px;
    color: var(--textColor);
}

.info__item-text {
    font-size: 16px;
    font-weight: 400;
    line-height: 28px;
    color: var(--textColor);
}

.call__content {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 80px 0;
}

.call__title {
    margin-bottom: 44px;
    font-size: 40px;
    font-weight: 600;
    line-height: 56px;
    color: var(--textColor);
}

.form__inputs {
    display: flex;
    flex-direction: row;
    gap: 32px;
    margin-bottom: 30px;
}

.form__input {
    width: 384px;
    padding: 16px 16px;
    border-radius: 4px;
    border: 2px solid var(--extraLightGray);
    background-color: var(--extraLightGray);
    font-size: 18px;
    font-weight: 400;
    line-height: 32px;
    color: var(--darkGray);
}

.form__input:focus-visible {
    outline: 1px solid var(--blueColor);
}

.form__bottom {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.form__checkbox {
    width: calc(50% - 16px);
    display: flex;
    align-items: center;
}

.form__input-checkbox {
    width: 24px;
    height: 24px;
}

.form__checkbox-text {
    padding-left: 16px;
    font-size: 16px;
    font-weight: 400;
    line-height: 28px;
    color: var(--textColor);
}

.form__button {
    width: calc(50% - 16px);
    padding: 20px 40px;
    font-size: 20px;
    font-weight: 600;
    line-height: 24px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    color: var(--whiteColor);
    background-color: var(--blueColor);
    transition: color .3s ease-in-out, background-color .3s ease-in-out;
}

.form__button:focus-visible {
    outline: 1px solid var(--blueColor);
    background-color: transparent;
    color: var(--blueColor);
}

.form__button:hover {
    outline: 1px solid var(--blueColor);
    background-color: transparent;
    color: var(--blueColor);
}

.footer {
    border-top: 1px solid var(--lightGray);
}

.footer__content {
    padding: 28px 0;
}

.footer__text {
    text-align: center;
    font-size: 18px;
    font-weight: 400;
    line-height: 32px;
    color: var(--textColor);
}
  
  



